@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Merriweather&display=swap');
.filterButton{
    font-family: 'Merriweather', serif;
    height: 2em;
    width: 10em;
    font-size: 1em;
    background-color: #ffffff;
}
.filterButton:disabled
{
    background-color: rgb(148, 148, 202);
    color: white;
}
li {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0,0,0);
    width: 90%;
    margin-left: 5%;
}
.todoText
{
  font-family: 'Crimson Text', serif;
  font-size: 2em;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-0.5px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(1px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
}
