@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Merriweather|Pacifico&display=swap');
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
	font-family: 'Pacifico', cursive;
}
.App-Container
{
	margin-top: 3vh;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.App-link {
  color: #61dafb;
}
.border{
	padding: 5px;
	background: linear-gradient(110deg, #ffeead 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #C5E7D7 34%, #88d8b0 34%);
	background-size: 400% 400%;
	height: 400px;
	background-position: 25% 50%;
	animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
}
.inner-cutout{
	padding: 40px 0;
	display: block;
	background-color:#ff6f69;/*#ff6f69*/
	margin: 2%;
	padding-bottom: 40px;
	height: 300px;
	background: radial-gradient(#ff6f69, #ff8b87);
	 background-size: 300%;
	background-position:50% 50%;

}
.knockout {
	
	vertical-align: middle;
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size:50pt;
	color: blue;
	color: #fff;
	background: linear-gradient(110deg, #ffeead 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #C5E7D7 34%, #88d8b0 34%);
	background-size: 400%;
	 -webkit-text-fill-color: transparent;
  background-clip: text;
}
.knockout{
		animation: Gradient 5s ease infinite;
		-webkit-animation: Gradient 15s ease infinite;
		-moz-animation: Gradient 5s ease infinite;
}

@keyframes Gradient {
	0% {
		background-position: 30% 50%
	}
	50% {
		background-position: 25% 50%
	}
	100% {
		background-position: 30% 50%
	}
	
}



.main{
	width: 20em;
	height: 20em;
	margin-left: 40%;
	margin-right:40%;
	margin-top: 1%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
